<h1>Eat that Burger!</h1>

<h2>Order Up!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      <h4 class="text-center">{{burger_name}} </h4>
      <button class="eat" dataid="{{id}}"> Eat UP</button>
    {{/unless}}
  {{/each}}
</ul>

<h2>In your belly!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      <h4 class="text-center">{{name}} </h4>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

\

  <button type="submit">Order Burger</button>
</form>
